<%= form_with(model: mycart) do |form| %>
  <% if mycart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mycart.errors.count, "error") %> prohibited this mycart from being saved:</h2>

      <ul>
        <% mycart.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :userid %>
    <%= form.text_field :userid, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.label :useremail %>
    <%= form.text_field :useremail, value: current_user.email %>
  </div>

  <div class="field">
    <%= form.label :productid %>
    <%= form.text_field :productid %>
  </div>

  <div class="field">
    <%= form.label :productname %>
    <%= form.text_field :productname %>
  </div>

  <div class="field">
    <%= form.label :count %>
    <%= form.number_field :count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= @product %>
