

<p>
  <strong>Userid:</strong>
  <%= @cart.userid %>
</p>

<p>
  <strong>Useremail:</strong>
  <%= @cart.useremail %>
</p>

<p>
  <strong>Productid:</strong>
  <%= @cart.productid %>
</p>

<p>
  <strong>Productname:</strong>
  <%= @cart.productname %>
</p>

<p>
  <strong>Count:</strong>
  <%= @cart.count %>
</p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
