<h2 class="add-to-cart">About Product</h2>

<div class="description">
<div class="image">
 <%= image_tag(@product.image) %>
</div>


<p>
  <strong>P name:</strong>
  <%= @product.p_name %>
</p>

<p>
  <strong>P price:</strong>
  <strike><%= @product.p_price %></strike>
  <strong> <%= @product.p_dprice %></strong>

</p>


<p>
  <strong>P details:</strong>
  <%= @product.p_details %>
</p>

<p>
  <strong>P image:</strong>
  <%= @product.p_image %>
</p>

<%= form_with model: @cart do |form| %>

  <div class="field">
    <%= form.text_field :userid, value: current_user.id ,  type: :hidden %>
  </div>
   <div class="field">
    <%= form.text_field :useremail, value:current_user.email,  type: :hidden   %>
  </div>
   <div class="field">
    <%= form.text_field :productid, value:@product.id,  type: :hidden   %>
  </div>
   <div class="field">
    <%= form.text_field :productname, value:@product.name,  type: :hidden  %>
  </div>
  <div class="field">
    <strong>Number of product:</strong>
    <%= form.number_field :count , value: 1, min: 1 %>
  </div>


   <div class="actions" >
    <%= form.submit "Add to cart", class:"btn btn-info btn-lg" %>

  </div>

<% end %>
</div>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
